body#indexBody {
  background: rgb(9, 7, 51);
  background: linear-gradient(
    85deg,
    rgba(9, 7, 51, 1) 17%,
    rgba(0, 255, 163, 1) 54%,
    rgba(220, 31, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.galleria {
  height: 500px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#ButtonSendMessage {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}

input {
  font-family: "Montserrat", sans-serif;
}
body#contactBody {
  background-color: #ffffff;
}

.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#MenuIcon {
  z-index: 10;
  display: block;
  color: #ffffff;
  text-decoration: none;
  float: right;
  font-size: 30px;
  margin: 1%;
  margin-right: 20px;
}
#myLinks {
  display: none;
  z-index: 5;
  text-transform: uppercase;
  font-size: 0.8vw;
}

#ENGHUPage {
  background-color: #2de1af;
}

nav {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  width: 100%;
  left: 0;
  background-color: #0d093b;
  position: fixed;
}
nav ul {
  cursor: context-menu;
  width: 100%;
  transform: translateY(0);
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline-block;
  width: 88%;
  text-align: center;
  margin: 0;
  margin-left: 1%;
  margin-right: 1%;
  padding: 5%;
}
nav li a {
  width: 100%;
  float: none;
  padding-left: 3%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
}

.logo {
  width: 100px;
  height: 50px;
}

nav ul li.active {
  background-color: #2de1af;
}

#ProjectNameMobile {
  z-index: 5;
  background-color: #0d093b;
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  float: left;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  padding-left: 25px;
  font-weight: 800;
}

#ProjectName {
  display: none;
  float: left;
  color: #ffffff;
  padding-top: 0;
  margin-left: 3%;
  font-weight: 800;
}

#MenuIcon {
  position: fixed;
  right: 0;
  top: 5px;
  display: block;
}

h2 {
  font-size: 40px;
  color: #0d093b;
}
article {
  width: 100%;
}

#ButtonUser {
  background-color: transparent;
  color: #2de1af;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

#Art1Txt1 {
  width: 100%;
  color: #ffffff;
  padding-top: 15%;
  text-align: center;
}
article {
  padding: 0;
}
#HomeArticle1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CicrLogoArt1 {
  display: flex;
  margin-top: 60px;
  width: 50%;
}

#CicrLogoPng {
  width: 90%;
}

#Art1Buttons {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.ButtonFillOut {
  background-color: transparent;
  color: #2de1af;
  text-align: center;
  text-decoration: none;
  border: 2px solid #2de1af;
  border-radius: 10px;
  height: 35px;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

#ButtonContactUs {
  background-color: transparent;
  color: #2de1af;
  text-align: center;
  text-decoration: none;
  width: 30%;
  height: 35px;
  border: 2px solid #2de1af;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.InfoArt1 {
  display: inline-flex;
  text-align: center;
  width: 49%;
  margin: 0;
  justify-content: center;
  margin-top: 35px;
  color: #ffffff;
}

.InfoTxtArt1 {
  display: inline-flex;
  text-align: center;
  width: 49%;
  justify-content: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Toggle switch */
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  border: 2px solid #969696;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2px;
  width: calc(var(--height) * 0.6);
  height: calc(var(--height) * 0.6);
  border-radius: calc(var(--height) / 2);
  border: 3px solid #969696;
  background-color: #dbdbdb;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  border-color: #0d093b;
}

.toggle input:checked + .slider::before {
  border-color: #0d093b;
  background-color: #c6e5ff;
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #4d4d4d;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

/*Coins*/

.coin-list {
  bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.coin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10px;
  width: 35%;
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #2de1af;
  padding: 20px 20px;
  border-radius: 8px;
  background-color: #2de1af;
}
.coin img {
  margin-right: 10px;
  height: 30px;
  width: auto;
}

.CoinPrice {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coin h3 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.coin p {
  margin: 0;
}

#OurSolution {
  width: 96%;
  padding: 2%;
  background-color: #2de1af;
  margin-top: 30px;
  color: #0d093b;
  text-align: center;
}

#ButtonInterest {
  background-color: #2de1af;
  color: #0d093b;
  text-align: center;
  text-decoration: none;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20px;
  height: 35px;
  border: 4px solid #0d093b;
  border-radius: 10px;
}
#ButtonInterest a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

#Product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#Product h2 {
  color: #ffffff;
}

#ProductGif {
  margin-bottom: 100px;
  width: 100%;
}
#SaidAboutUs {
  padding-top: 100px;
}
#CaseStudies {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #2de1af;
  padding: 5%;
}

#CaseStudies h2 {
  text-align: center;
}

#CaseStudies p {
  margin: 3%;
}
#CS1 {
  display: flex;
  flex-direction: column;
}
#CS2 {
  display: flex;
  flex-direction: column;
}
#CS3 {
  display: flex;
  flex-direction: column;
}

#Team {
  display: flex;
  flex-direction: column;
}
#TeamMembers {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.TeamMember {
  display: flex;
  flex-direction: column;
}

.TeamMember p {
  font-weight: 900;
}
#Team h2 {
  color: #ffffff;
  text-align: center;
}

#Team p {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

/*Team Member float*/


.floatTeam {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 76%;
  background-color: #000000a8;
  padding: 12%;
}

.TeamMemberFloatTxt {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #0d093b;
  border-radius: 10px;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.TeamMemberFloatTxt h2 {
  margin-top: 0;
}
.TeamMemberFloatp {
  margin: 0;
  font-size: 15px !important;
  width: 94%;
  text-align: center;
}

.TeamMemberFloatImg {
  border-radius: 30px;
  border:#0d093b 5px solid;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#floatTeamX {
  margin-top: 50px;
  margin-right: 5%;
  font-size: 50px;
  color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
}

/*Roadmap*/
#RoadMapTitle{
  text-align: center;
  color: #ffffff;
}

#RoadMap{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.RoadMapBlock h3{
  text-align: center;
  font-size: 15px;
}

.RoadMapBlock h2{
  text-align: center !important;
  font-size: 20px;

}

.RoadMapBlock p{
  margin-left: 10%;
}

.RoadMapBlockDiv{
  width: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.RoadmapDiamond{
  background-color: #0d093b;
  height: 45px;
  width: 45px;
  align-self: center;
  transform: rotate(45deg);
  float: right;
  border-radius: 20%;
}

.RoadMapBlock{
  background-color: #2de1af;
  padding: 5%;
  width: 80%;
  border-radius: 10px;
}



/*Contact Form*/
#HomeForm .errorTxt {
  margin-top: 20px;
  font-weight: 900;
}
#HomeForm {
  padding: 3%;
  width: 94%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#Contact {
  text-align: center;
  color: #fff;
  margin-bottom: 10%;
}

#inName {
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-size: 25px;
  border-radius: 10px;
  border-color: #0d093b;
  color: #fff;
}

#inMail {
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-color: #0d093b;
  color: #fff;
}

#inMessage {
  height: 250px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 20px;
  border-color: #0d093b;
}

#ButtonSendMessage {
  margin-top: 20px;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 60%;
  height: 35px;
}

/*Footer*/
#HSUP_Logo{
  width: auto;
  height: 100px;
}

footer {
  background-color: #0d093b;
  width: 100%;
  left: 0;
}
#FooterList {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}
footer h2 {
  color: #ffffff;
  font-size: 16px;
  margin-left: 2%;
}

footer p {
  margin-left: 4%;
  font-size: 16px;
  color: #999999;
}

#FooterLent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid #9999994f 1px;
}

#FooterSocial {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .fab {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  margin: 2%;
}

/*-------------question page---------------------------*/

.progressnumber {
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
}

#progressnumber1 {
  display: block;
}
#progressnumber2 {
  display: none;
}
#progressnumber3 {
  display: none;
}
#progressnumber4 {
  display: none;
}
#progressnumber5 {
  display: none;
}
#progressnumber6 {
  display: none;
}

.progressbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: center;
}

.progressbarpart {
  height: 5px;
  border: solid 1px #2de1af;
  width: 16%;
}

.question {
  border-radius: 50px;
  margin-top: 100px;
  padding: 3%;

  width: 94%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: #ffffff;
  background-color: #2de1af;
  color: #0d093b;
}

.question label {
  width: 100%;
}

.question h2 {
  color: #0d093b;
  font-size: 30px;
  width: 100%;
}

.questiondiv {
  display: flex;
  flex-direction: column-reverse;
}

div.error {
  color: #fb3a3a;
  text-align: center;
  font-weight: 800;
  padding: 0;
  width: 100%;
}

.intext {
  width: 100%;
  height: 35px;
  border: none;
  margin: 2%;
  color: #2de1af;
  font-size: 25px;
  border-radius: 10px;
}
.labeltooltip {
  display: flex;
  flex-direction: column;
}
.inratio {
  border-radius: 50%;
  width: 40px;
  height: 20px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin: 0;
  margin-right: 10px;
}

.incheckbox {
  margin: 15px;
}
.questionbuttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.ButtonQuestionButton {
  margin-top: 20px;
  background-color: #0d093b;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 40%;
  height: 35px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  margin: 10px;
}

.indropdown {
  width: 100%;
  height: 35px;
  border: none;
  margin: 2%;
  background-color: #99999931;
  font-size: 25px;
  border-radius: 10px;
  color: #666666;
}

#question1 {
  display: block;
}

#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}

#question6 {
  display: none;
}

#coin-listQuestion {
  display: none;
}
#refreshdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Refresh {
  display: none;
  margin-top: 20px;
  background-color: #2de1af;
  color: #0d093b;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 25px;
  width: 60%;
  height: 100px;
  margin-bottom: 100px;
}

#Recommendtxt {
  text-align: center;
  margin-top: 50px;
  display: none;
  color: #ffffff;
  font-size: 30px;
}
/*Wallets list css*/

#Wallets {
  margin: 3%;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.walletplace {
  background-color: #2de1af;
  margin: 1%;
  padding: 1%;
  width: 13%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.walletlogoimg {
  display: none;
  margin: 1%;
  width: 90%;
}

#binance1 {
  display: block;
}

#bitmex2 {
  display: block;
}
#cexio3 {
  display: block;
}
#coinbase4 {
  display: block;
}
#cryptocom5 {
  display: block;
}

#walletplace1 {
  border: 8px solid #ffd700;
}

#walletplace2 {
  border: 8px solid #c0c0c0;
}

#walletplace3 {
  border: 8px solid #cd7f32;
}

#walletplace4 {
  border: 8px solid #2de1af;
}

#walletplace5 {
  border: 8px solid #2de1af;
}

@media only screen and (min-width: 600px) {
  /*Footer*/
  footer p {
    font-size: 19px;
  }
  footer h2 {
    font-size: 26px;
  }
  #FooterList {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  #FooterSocial {
    padding-right: 10%;
  }
  section .heading {
    font-size: 72px !important;
  }
  /*Question page*/
  #coin-listQuestion {
    display: block;
  }

  .coin-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .coin {
    width: 20%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  h2 {
    font-size: 72px;
  }

  #ProjectName {
    display: block;
  }

  #myLinks {
    display: block !important;
  }

  #MenuIcon {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding-top: 0;
    padding-right: 0;
  }
  nav li {
    width: 18%;
    padding: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    margin-right: 1%;
  }

  nav li a {
    display: block;
    font-size: 1.1vw;
  }

  #floatTeamX {
    top: 100px;
  }

  button {
    font-size: 27px;
    padding: 1% !important;
    width: 40% !important;
    height: auto !important;
  }

  #ButtonInterest {
    width: 20% !important;
  }

  p {
    font-size: 27px;
  }
  #HomeArticle1 {
    margin-top: 100px;
    flex-direction: row-reverse;
  }
  #Art1Conent {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
  }

  #CicrLogoArt1 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 5%;
  }

  #Art1Txt1 {
    display: inline-block;
  }

  .ButtonFillOut:hover {
    background-color: #0d093b;
    color: #ffffff;
  }

  #ButtonContactUs:hover {
    background-color: #0d093b;
    color: #ffffff;
  }

  #ButtonInterest:hover {
    background-color: #0d093b;
    color: #ffffff;
  }

  #ButtonSendMessage {
    width: 20%;
  }

  #ButtonSendMessage:hover {
    background-color: #0d093b;
    color: #ffffff;
  }
  /*Coins*/

  .coin {
    margin: 15px;
    height: 100px;
  }
  .coin img {
    height: 75%;
  }

  .coin h3 {
    font-size: 25px;
  }

  #ProductGif {
    width: 40%;
  }

  .Art4image {
    width: 40%;
    height: 40%;
  }
  #CS1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }

  #CS2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px;
  }
  #CS3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }

  #TeamMembers {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 100%;
  }

  .TeamMemberImg {
    border-radius: 50px;
    width: 15vw;
  }
  .TeamMember {
    display: flex;
    align-items: center;
  }

  #TeamMember1 {
    margin-top: 170px;
  }

  #TeamMember2 {
    margin-top: 450px;
  }

  #TeamMember3 {
    margin-top: 0px;
  }

  #TeamMember4 {
    margin-top: 450px;
  }

  #TeamMember5 {
    margin-top: 600px;
  }

  .TeamMemberFloatImg{
    width: 500px;
  }

  .TeamMemberFloatp{
    font-size: 25px !important;
  } 

  /*Road Map*/
  .RoadMapBlock h3{
    font-size: 30px;
  }


  .RoadMapBlock h2 {
    font-size: 45px;
  }

  .RoadMapBlock{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
  }

  #RoadMapBlock1{
    margin-right: auto;
  }

  #RoadMapBlock2{
    margin-left: auto;
  }

  #RoadMapBlock3{
    margin-right: auto;
  }

  #RoadMapBlock4{
    margin-left: auto;
  }

  #RoadMapBlock5{
    margin-right: auto;
  }

  /*Contact Us*/
  #inName {
    width: 60%;
  }
  #inMail {
    width: 60%;
  }

  #inMessage {
    width: 60%;
    height: 400px;
  }

  /*Footer*/
  #FooterLent {
    flex-direction: row;
  }

  #FooterSocial {
    justify-content: right;
  }

  #FooterLent p {
    width: 100%;
  }

  /*------------------Question page---------------*/

  #progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
  .progressnumber {
    margin: 0;
    margin-right: 50px;
  }

  .progressbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60%;
  }
  .progressbarpart {
    height: 20%;
  }
  #questionsWallets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .question {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 100px;
  }
  /*Wallets*/

  #Wallets {
    flex-direction: column;
    justify-content: space-around;

    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
  }

  .walletplace {
    height: 20%;
    width: 20%;
  }

  #Recommendtxt {
    font-size: 45px;
  }

  #Refresh {
    width: 30%;
  }

  abbr:hover::after {
    bottom: 100%;
    left: 100%;
    padding: 1em;
    width: 280px;
  }
}

section {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background-color: #2de1af;
  overflow: hidden;
}

section h2 {
  color: #ffffff;
}
section h3 {
  color: #ffffff;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section .heading {
  display: inline-block;
  position: relative;
  color: #0d093b;
  font-size: 40px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

section .heading::before {
  position: absolute;
  content: "";
  width: 15%;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  background-color: #0d093b;
}

section .heading b {
  color: #ffffff;
  margin-left: -35px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .container {
  position: relative;
  width: 350px;
  color: #ffffff;
  background: #407060;
  margin: 40px 10px;
  padding: 30px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.wrapper .cointainer .profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
  display: block;
}

.wrapper .container .profile .imgBox {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid #070c0d;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper .container .profile .imgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}

.wrapper .container .profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper .container .profile p {
  margin-top: 50px;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
}
.wrapper .cointainer p {
  margin-top: 50px;
  color: #ffffff;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}

.wrapper .container .left {
  font: 30px;
  display: block;
  text-align: left;
  color: #2de1af;
}

.wrapper .container .right {
  font: 30px;
  display: block;
  text-align: right;
  color: #2de1af;
}

.wrapper .container .social {
  width: 100%;
}

.wrapper .container .social i {
  font-size: 1.2em;
  color: #ffffff;
  padding: 8px;
  background-color: rgb(255, 255, 255, 00.5%);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 00.5%);
}

.wrapper .container .social i:hover {
  color: #2de1af;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2de1af;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2de1af;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2de1af;
}

html {
  scroll-behavior: smooth;
}

abbr {
  font-style: italic;
  position: relative;
}

abbr:hover::after {
  background: #add8e6;
  border-radius: 4px;
  bottom: 100%;
  content: attr(title);
  display: block;

  padding: 1em;
  position: absolute;
  width: 280px;
  z-index: 1;
}

